.gradient-1 {
    background: linear-gradient(135deg, #078EB1, #05ACD7);
  }

.gradient-2{
    background: linear-gradient(135deg, #F9A709, #FFBC0D);
}

.gradient-3{
    background: linear-gradient(135deg, #09f915, #3ff82e);
}


